google-api-core==2.11.0
google-cloud-compute==1.11.0
google-auth==2.17.2
azure-cli==2.47.0
azure-identity==1.12.0
azure-mgmt-network==23.0.0
boto3==1.24.35
botocore==1.27.38
pandas==1.4.3
pickle5==0.0.12